@import 'yeticss'

html, body
  padding: 0
  margin: 0

body
  font-family: 'Open Sans', 'proxima-nova', 'helvetica neue', helvetica, arial, sans-serif

header
  height: 5em
  line-height: 5em
  background-color: #438193

  .container
    height: 100%

  h1
    display: inline-block
    vertical-align: middle
    margin: 0

    a, a:hover, a:active, a:visited, a:focus
      color: black

section
  min-height: 20em

footer
  padding: 1em 0
  color: #666
  font-size: .8em
  text-align: center

pre
  margin: 0
  padding: 0
  color: #666

.right-aligned
  text-align: right

.to-table
  display: table

.item-cell
  display: table-cell
  vertical-align: top
  padding-top: 30px

.item-block
  @extend .item-cell
  padding: 15px 20px 0 0
  width: 100%

.item-block-name
  border-bottom: 1px solid #666
  padding-bottom: 10px
  margin-bottom: 20px

.item-map
  @extend .item-cell

.map
  background-color: black

.map-hash, .map-plus
  color: white

.map-dot, .map-caret
  color: blue

.map-pipe
  color: darkgray

.map-star
  color: yellow

.item-block-table
  dt
    display: inline-block
    vertical-align: middle
    width: 20%
    padding: 0 5px
    text-align: right
    margin: 10px 0

  dd
    display: inline-block
    vertical-align: middle
    width: 30%
    margin: 10px 0
    padding: 0 5px

@media only screen and (min-width: 1050px)
  .container
    width: 1000px

@media only screen and (max-width: 1050px)
  .container
    width: auto
    margin: 0 20px

@media only screen and (max-width: 800px)
  .container
    width: auto
    margin: 0 10px
